{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": ["last 2 Chrome versions", "Safari >= 14", "Firefox >= 100"]
          },
          "useBuiltIns": false,
          "modules": false
        }
      }
    ]
  ]
}
